/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Estilos del encabezado */
header {
    background-color: #F20C49;
    color: #0D0D0D;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px; /* Ajusta el espaciado según sea necesario */
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

header .nav-links li {
    margin-right: 20px; /* Espacio entre los elementos de la lista */
}

header .nav-links li:last-child {
    margin-right: 0; /* Elimina el margen derecho del último elemento */
}

header .nav-links li a {
    color: #0D0D0D;
    text-decoration: none;
    padding: 10px 15px;
}

header .nav-links li a:hover {
    background-color: #F28DA8;
    border-radius: 5px;
}

/* Estilo para el logo */
header .logo {
    width: 100px;
    height: auto;
    cursor: pointer;
    margin-right: 20px; /* Espacio entre el logo y los botones */
}


header nav {
    margin-left: auto; /* Empuja los elementos de navegación hacia la derecha */
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline-block;
    border-right: 1px solid #fff; /* Agrega un borde derecho */
    padding-right: 10px; /* Espacio adicional entre botones */
}

header nav ul li:last-child {
    border-right: none; /* Elimina el borde derecho del último elemento */
}

header nav ul li a {
    color: #0D0D0D;
    text-decoration: none;
    padding: 10px 15px;
}

header nav ul li a:hover {
    background-color: #F28DA8; /* Cambia el color de fondo al pasar el mouse */
    border-radius: 5px; /* Agrega bordes redondeados */
}

/* Estilos de las secciones */
section {
    padding: 50px 0;
}

section h1 {
    text-align: center;
}

/* Estilos del pie de página */
footer {
    background-color: #F20C49;
    color: #0D0D0D;
    text-align: center;
    padding: 20px 0;
}

/* Estilos para el formulario de reserva */
#reserva-form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#reserva-form div {
    margin-bottom: 20px;
}

#reserva-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

#reserva-form input[type="text"],
#reserva-form input[type="email"],
#reserva-form input[type="tel"],
#reserva-form input[type="date"],
#reserva-form input[type="number"],
#reserva-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#reserva-form textarea {
    height: 100px;
}

#reserva-form input[type="submit"] {
    background-color: #ff5722;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#reserva-form input[type="submit"]:hover {
    background-color: #f44336;
}

/* Estilos para mensajes de error */
.error-message {
    color: #f00;
    margin-top: 5px;
}

/* Estilos específicos para la página de menú */
section {
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

/* slide del carrusel */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.newSlides {
    display: none;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(242,141,168,0.8);
}

.newSlides:first-child {
    display: block;
}

.newSlides img {
    width: 100%;
}

section h1 {
    text-align: center;
}

/* Estilos específicos para el botón de navegación */
.nav-button {
    margin-left: 10px; /* Espacio entre los botones de navegación */
    padding: 5px 10px;
    border: 1px solid #fff;
    border-radius: 5px;
    background-color: transparent;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.nav-button:hover {
    background-color: #F28DA8; /* Cambia el color de fondo al pasar el mouse */
}
